/* CSS: Estilos globales y específicos */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f7;
}

/* Sombra personalizada usada en Vue */
.container-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#outputCanvas {
    /* Estilos del canvas */
    border: 2px solid #3b82f6;
    border-radius: 0.75rem;
    max-width: 100%;
    height: auto;
    background-color: #fff;
}

/* Animación para el Toast */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
    transform: translate(-50%, 20px); /* Aparece desde abajo */
}